.section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.section > h2 {
  flex: 0 0 20%;
  font-size: 62px;
  text-align: right;
  color: var(--darkBlue);
  border-right: 5px solid var(--darkBlue);
  padding-right: 15px;
  line-height: 1.1;
}

.section > div {
  flex: 0 0 77%;
}

.section p {
  margin-bottom: 20px;
}
