/* Universal Selector */
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

/* Root Selector for Variables */
:root {
  --grey: rgba(49, 52, 61, 1);
  --blue: mediumturquoise;
  --darkBlue: steelblue;
}

.section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.section > h2 {
  flex: 0 0 20%;
  font-size: 62px;
  text-align: right;
  color: var(--darkBlue);
  border-right: 5px solid var(--darkBlue);
  padding-right: 15px;
  line-height: 1.1;
}

.section > div {
  flex: 0 0 77%;
}

.section p {
  margin-bottom: 20px;
}

.contact-me address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact-me h2 {
  font-size: 62px;
  text-align: right;
  color: var(--darkBlue);
  border-right: 5px solid var(--darkBlue);
  padding-right: 15px;
  line-height: 1.1;
  flex: 0 0 20%;
}

.contact-me address a {
  padding: 5px;
  text-decoration: none;
  font-style: normal;
  display: inline-block;
  font-size: 20px;
  text-align: left;
  color: var(--darkBlue);
  background-image: linear-gradient(270deg, var(--grey) 0%, var(--grey) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
}

.contact-me address a:hover {
  background-size: 100% 88%;
  color: var(--blue);
}
