* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

/* Root Selector for Variables */
:root {
  --grey: rgba(49, 52, 61, 1);
  --blue: mediumturquoise;
  --darkBlue: steelblue;
}

/* Element Selectors */
header {
  padding: 15px 6% 15px 0;
  background-color: var(--grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

header h1 {
  font-size: 3vw;
  line-height: 1;
  color: var(--grey);
  background-color: var(--blue);
  padding: 5px 1% 5px 6%;
  margin: 0;
}
